@using PCVMS.Presentation.Helpers;
@inject ICacheHelper obj;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Localizer = await obj.GetAllResource();

}

@model PCVMS.Model.Web.PCVMS_Project_Model

<div class="main-card mb-3 card">
    <div class="card-header-custom  bg-moi-green">
        <i class="header-icon pe-7s-pen icon-gradient bg-white"> </i>
        @Localizer["search property"]
    </div>

    <div class="card-body">
        <div class="form-row">

            <div class="col-md-3">
                <div class="position-relative form-group">
                    <label for="ProjectName">@Localizer["project name"]</label>
                    <div class="widget-content-left">
                        <div class="input-group">
                            <input name="txt_stage3_vehicletype" id="RoyalDecree" type="text" class="form-control">
                            <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-bookmarks btn-icon-wrapper"> </i></span></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="position-relative form-group">
                    <label for="ProjectName">@Localizer["owner name"]</label>
                    <div class="widget-content-left">
                        <div class="input-group">
                            <select id="ealist" class="form-control">
                                <option selected>@Localizer["select property name"]</option>
                                <option>@Localizer["abdul malik"]</option>
                                <option>@Localizer["ahmed al nasseri"]</option>
                                <option>@Localizer["ahmed al waihabi"]</option>
                                <option>@Localizer["abdullah al amri"]</option>
                            </select>
                            <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-speaker btn-icon-wrapper"> </i></span></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="position-relative form-group">
                    <label for="exampleEmail2" id="lbl_stage3_name">@Localizer["governorates"]</label>
                    <div class="input-group">
                        <select class="form-control"><option selected>Muscat</option></select>
                        <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-way btn-icon-wrapper"> </i></span></div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="position-relative form-group">
                    <label for="ProjectName">@Localizer["property-approval-status"]</label>
                    <div class="widget-content-left">
                        <div class="input-group">
                            <select id="ealist" class="form-control">
                                <option selected>@Localizer["select value"]</option>
                                <option>Pending for Approval</option>
                                <option>Approved</option>
                            </select>
                            <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-speaker btn-icon-wrapper"> </i></span></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="d-block text-right card-footer">

        <button id="btnClear" name="btnClear" class="btn-icon btn-shadow btn-dashed btn btn-moi-gold"><i class="pe-7s-trash btn-icon-wrapper"> </i>@Localizer["clear"]</button>
        <button id="SearchTransaction" name="SearchTransaction" class="btn-icon btn-shadow btn-dashed btn btn-alternate block-page-btn-example-3">
            <i class="pe-7s-search btn-icon-wrapper"> </i>@Localizer["search"]
        </button>
    </div>
    <table id="example2" style="width: 100%;" class="table table-hover table-striped table-bordered">
        <thead>
            <tr>

                <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["project name"]</th>
                <th class="bg-moi-gold" style="text-align:center;"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["owner name"]</th>
                <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-album btn-icon-wrapper"> </i> @Localizer["krooki"]</th>
                <th class="bg-moi-gold" style="text-align:center;"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["property-approval-status"]</th>
                <th class="bg-moi-gold" style="text-align:center;"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["action"]</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td class="text-center">al batinah coastal road</td>
                <td class="text-center">Ahmed Al Waihabi</td>
                <td class="text-center text-muted">07-44-028-01-1229</td>
                <td class="text-center">Pending for Approval</td>
                <td class="text-center" id='tdAction' name='tdAction'><div class='position-relative'><i class="metismenu-icon lnr-book" style="cursor: pointer;margin-left: 10px;" title="view"></i></div></td>
            </tr>
            <tr>

                <td class="text-center">salalah road</td>
                <td class="text-center">Abdullah Al Amri</td>
                <td class="text-center text-muted">07-44-028-01-1228</td>
                <td class="text-center">Approved</td>
                <td class="text-center" id='tdAction' name='tdAction'><div class='position-relative'><i class="metismenu-icon lnr-book" style="cursor: pointer;margin-left: 10px;" title="view"></i></div></td>
            </tr>
           
        </tbody>
    </table>

</div>
<div class="main-card mb-3 card">

    <div class="card-header-custom  bg-moi-green">
        <i class="header-icon pe-7s-pen icon-gradient bg-white"> </i>

        @Localizer["property details"]
    </div>
    <div class="card-body">

        <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                    <label for="ProjectName">@Localizer["project name"]</label>
                    <div class="widget-content-left">
                        <div class="input-group">
                            <input readonly="readonly" name="txt_stage3_vehicletype" value="al batinah coastal road" id="RoyalDecree" type="text" class="form-control">
                            <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-bookmarks btn-icon-wrapper"> </i></span></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group">
                    <label for="PropertyName" id="lbl_stage3_name">@Localizer["property owner name"]</label>
                    <input type="hidden" id="PropertyId" />

                    <div class="input-group">
                        <input readonly="readonly" name="PropertyName" value="Ahmed Al Waihabi" id="PropertyName" type="text" class="form-control">
                        <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-home btn-icon-wrapper"> </i></span></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-row">

            <div class="col-md-6">
                <div class="position-relative form-group">
                    <label for="PropertyType" id="lbl_stage3_name">@Localizer["property type"]</label>

                    <div class="input-group">
                        <select class="form-control"><option selected> Residential</option></select>
                        <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-home btn-icon-wrapper"> </i></span></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="position-relative form-group">
                    <label for="PrpertyCardId">@Localizer["krooki"]</label>

                    <div class="input-group">
                        <input readonly="readonly" name="PrpertyCardId" value="07-44-028-01-1229" id="PrpertyCardId" type="text" class="form-control">
                        <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-id btn-icon-wrapper"> </i></span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="position-relative form-group">
                    <label for="PropertyNumber">@Localizer["property no"] </label>

                    <div class="input-group">
                        <input readonly="readonly" name="PropertyNumber" value="07-44-028-01-1229-0001" id="PropertyNumber" type="text" class="form-control">
                        <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-home btn-icon-wrapper"> </i></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3">
                <div class="position-relative form-group">
                    <label for="exampleEmail2" id="lbl_stage3_name">@Localizer["governorates"]</label>
                    <div class="input-group">
                        <select name="Village" id="Village" type="text" class="form-control">
                            <option selected>Muscat</option>
                        </select>           <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-way btn-icon-wrapper"> </i></span></div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="position-relative form-group">
                    <label for="Wilayat" id="lbl_stage3_name">@Localizer["wilayat"]</label>

                    <div class="input-group">
                        <select name="Wilayat" id="Wilayat" type="text" class="form-control">
                            <option selected>Muscat</option>
                        </select>
                        <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-way btn-icon-wrapper"> </i></span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="position-relative form-group">
                    <label for="Village" id="lbl_stage3_name">@Localizer["municipality"]</label>
                    <div class="input-group">
                        <select name="Village" id="Village" type="text" class="form-control">
                            <option selected>Bosher</option>
                        </select>
                        <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-way btn-icon-wrapper"> </i></span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="position-relative form-group">
                    <label for="Village" id="lbl_stage3_name">@Localizer["village"]</label>
                    <div class="input-group">
                        <select name="Village" id="Village" type="text" class="form-control">
                            <option selected>Al Azaiba</option>
                        </select>
                        <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-way btn-icon-wrapper"> </i></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                    <label for="PropertyEmail">@Localizer["email"]</label>

                    <div class="input-group">
                        <input readonly="readonly" name="PropertyEmail" value="harman@mesecit.com" id="PropertyEmail" type="text" class="form-control">
                        <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-mail btn-icon-wrapper"> </i></span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="position-relative form-group">
                    <label for="PropertyLandline">@Localizer["landline"]</label>

                    <div class="input-group">
                        <input readonly="readonly" name="PropertyLandline" value="24138403" id="PropertyLandline" type="text" class="form-control">
                        <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-phone btn-icon-wrapper"> </i></span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="position-relative form-group">
                    <label for="PropertyMobile">@Localizer["mobile"] </label>

                    <div class="input-group">
                        <input readonly="readonly" name="PropertyMobile" value="93894475" id="PropertyMobile" type="text" class="form-control">
                        <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-phone btn-icon-wrapper"> </i></span></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="position-relative form-group">
                    <label for="PropertyRemark">@Localizer["remark"]</label>

                    <div class="input-group">
                        <input name="PropertyRemark" id="PropertyRemark" placeholder="any remark, please enter here..." type="text" class="form-control">
                        <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-notebook btn-icon-wrapper"> </i></span></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="main-card mb-3 card">
        <div class="card-header-custom  bg-moi-green">
            <i class="header-icon pe-7s-pen icon-gradient bg-white"> </i>
            @Localizer["geometry (gis coordinates of property)"]
        </div>
        <div class="card-body">

            <input id="HiddenGeometryId" type="hidden" />
            <table style="width: 100%;" id="tbl-Geometry" name="tbl-Geometry" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-map-marker btn-icon-wrapper"> </i> @Localizer["s.no"]</th>
                        <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-map-marker btn-icon-wrapper"> </i> @Localizer["geometry type"]</th>
                        <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-map-marker btn-icon-wrapper"> </i> @Localizer["latitude"]</th>
                        <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-map-marker btn-icon-wrapper"> </i> @Localizer["longitude"]</th>
                        <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["action"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">111</td>
                        <td class="text-center">Parcel</td>
                        <td class="text-center">23.614328</td>
                        <td class="text-center">58.545284</td>
                        <td class="text-center" id='tdAction' name='tdAction'><div class='position-relative'><i class="metismenu-icon lnr-book" style="cursor: pointer;margin-left: 10px;" title="view"></i></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="main-card mb-3 card">

        <div class="card-body">
            <div class="card-header-custom  bg-moi-green">
                <i class="header-icon pe-7s-pen icon-gradient bg-white"> </i>
                @Localizer["attached documents"]
            </div>
            <table style="width: 100%;" id="tbl-ProjectDocument" name="tbl-ProjectDocument" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-id btn-icon-wrapper"> </i> @Localizer["s.no"]</th>
                        <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-album btn-icon-wrapper"> </i> @Localizer["media"]</th>
                        <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-album btn-icon-wrapper"> </i> @Localizer["document type"]</th>
                        <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["action"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center text-muted">11</td>
                        <td class="text-center">Krooki</td>
                        <td class="text-center">Krooki</td>
                        <td class="text-center" id='tdAction' name='tdAction'>
                            <div class='position-relative'>
                                <i class="metismenu-icon lnr-book" style="cursor: pointer;margin-left: 10px;" title="view"></i>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td class="text-center text-muted">12</td>
                        <td class="text-center">Property Drawing</td>
                        <td class="text-center">Property Drawing</td>
                        <td class="text-center" id='tdAction' name='tdAction'>
                            <div class='position-relative'>
                                <i class="metismenu-icon lnr-book" style="cursor: pointer;margin-left: 10px;" title="view"></i>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td class="text-center text-muted">13</td>
                        <td class="text-center">Miscellaneous</td>
                        <td class="text-center">Miscellaneous Document</td>
                        <td class="text-center" id='tdAction' name='tdAction'>
                            <div class='position-relative'>
                                <i class="metismenu-icon lnr-book" style="cursor: pointer;margin-left: 10px;" title="view"></i>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="main-card mb-3 card">
        <div class="card-header-custom  bg-moi-green">
            <i class="header-icon pe-7s-pen icon-gradient bg-royal"> </i>
            @Localizer["request-for-clarification-detail"]
        </div>
        <div class="card-body" readonly="readonly">
            <table style="width: 100%;" id="tbl-resource-history" name="tbl-resource-history" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-album btn-icon-wrapper"> </i> @Localizer["s. no"]</th>
                        <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["actors"]</th>
                        <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["remarks"]</th>
                        <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["date"]</th>
                        <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["time"]</th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        <td style="text-align: center;">2</td>
                        <td>CF</td>
                        <td>Remarks</td>
                        <td>27/7/2021</td>
                        <td>11:31</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">1</td>
                        <td>Inventory</td>
                        <td>Remarks</td>
                        <td>26/7/2021</td>
                        <td>10:35</td>
                    </tr>


                </tbody>

            </table>




        </div>

        <div class="form-row">

            <div class="col-md-10">
                <div class="position-relative form-group">
                    <label for="RoyalDecree">
                        @Localizer["rfc remark"]

                    </label>
                    <div class="input-group">
                        <input value="enter remark here..." name="PrpertyCardId" id="PrpertyCardId" type="text" class="form-control">

                        <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-bookmarks btn-icon-wrapper"> </i></span></div>
                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="position-relative form-group">
                    <label for="ProjectName" style="visibility:hidden">@Localizer["cr"]</label>
                    <div class="widget-content-left">
                        <div class="input-group">
                            <button id="SearchTransaction" name="SearchTransaction" class="btn-icon btn-shadow btn-dashed btn btn-alternate block-page-btn-example-3">
                                <i class="pe-7s-search btn-icon-wrapper"> </i>@Localizer["save"]
                            </button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

   
    <div class="main-card mb-3 card">
        <div class="card-header-custom  bg-moi-green">
            <i class="header-icon pe-7s-pen icon-gradient bg-white"> </i>
            Approval from Inventory Section
        </div>
        <div class="no-results">

            <div class="swal2-icon swal2-success swal2-animate-success-icon">
                <i class="metismenu-icon lnr-hourglass" style="cursor: pointer;font-size:2.5rem;line-height: 1.75;" title="wait for approval"></i>
            </div>

            <div class="form-row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label for="exampleEmail2" id="lbl_stage3_name"><span class="text-danger">*</span>@Localizer["property name"]</label>
                        <div class="input-group">
                            <select id="ealist" class="form-control">
                                <option selected>@Localizer["select property name"]</option>
                                <option>@Localizer["building no 204"]</option>
                                <option>@Localizer["barka farm house"]</option>

                            </select>
                            <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-way btn-icon-wrapper"> </i></span></div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="mt-3 mb-3"></div>
            <div class="text-center">
                <button class="btn-shadow btn-wide btn btn-moi-green btn-lg">@Localizer["approve"] </button>
                <button class="btn-shadow btn-wide btn btn-moi-gold-dark btn-lg" title="">RFC (Request for Clarification)</button>

            </div>

        </div>
    </div>
</div>

  

<script src="~/AppJs/Project.js"></script>
