@using PCVMS.Presentation.Helpers;
@inject ICacheHelper obj;
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Localizer = await obj.GetAllResource();
}

@model PCVMS.Model.Web.DashboardModel
<head>
    @*<script src="~/morris/lib/example.js"></script>*@
    @*<link rel="stylesheet" href="~/morris/lib/example.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css">
    <link rel="stylesheet" href="~/morris/morris.css">

</head>

<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header  bg-happy-green">
                        <i class="header-icon pe-7s-pen icon-gradient bg-royal"> </i>
                        <h1>Dashboard</h1>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
                    <div class="widget-chat-wrapper-outer">
                        <div class="widget-chart-content">
                            <div class="widget-title opacity-5 text-uppercase">Total Certificate</div>
                            <div class="widget-numbers mt-2 fsize-2 mb-0 w-100">
                                <div class="widget-chart-flex align-items-center">
                                    <div>
                                        <span class="opacity-10 text-danger pr-2">
                                            <i class="fa fa-angle-up"></i>
                                        </span>
                                        <label id="lbl_total_certificate"></label>
                                        <div class="card-header-title" style="font-size: small;">currently active</div>
                                    </div>
                                    <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                        <div class="circle-progress circle-progress-gradient-alt-sm d-inline-block">
                                            <small></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card">
                    <div class="widget-chat-wrapper-outer">
                        <div class="widget-chart-content">
                            <div class="widget-title opacity-5 text-uppercase">Total Certificate</div>
                            <div class="widget-numbers mt-2 fsize-2 mb-0 w-100">
                                <div class="widget-chart-flex align-items-center">
                                    <div>
                                        <span class="opacity-10 text-success pr-2">
                                            <i class="fa fa-angle-down"></i>
                                        </span>
                                        <label id="lbl_total_certificate_approval_pending"></label>
                                        <div class="card-header-title" style="font-size: small;">pending for approval</div>
                                    </div>
                                    <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                        <div class="circle-progress circle-progress-success-sm d-inline-block">
                                            <small></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-warning card">
                    <div class="widget-chat-wrapper-outer">
                        <div class="widget-chart-content">
                            <div class="widget-title opacity-5 text-uppercase">Total Certificate</div>
                            <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                                <div class="widget-chart-flex align-items-center">
                                    <div>
                                        <span class="opacity-10 text-success pr-2">
                                            <i class="fa fa-angle-down"></i>
                                        </span>
                                        <label id="lbl_total_cancelled_certificate"></label>
                                        <div class="card-header-title" style="font-size: small;">Cancelled</div>
                                    </div>
                                    <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                        <div class="circle-progress circle-progress-warning-sm d-inline-block">
                                            <small></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card">
                    <div class="widget-chat-wrapper-outer">
                        <div class="widget-chart-content">
                            <div class="widget-title opacity-5 text-uppercase">Total Certificate</div>
                            <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                                <div class="widget-chart-flex align-items-center">
                                    <div>
                                        <span class="opacity-10 text-warning pr-2">
                                            <i class="fa fa-angle-down"></i>
                                        </span>
                                        <label id="lbl_total_cancel_certificate"></label>
                                        <div class="card-header-title" style="font-size: small;">pending for cancellation</div>
                                    </div>
                                    <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                        <div class="circle-progress circle-progress-success-sm d-inline-block">
                                            <small></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-header-tab card-header-tab-animation card-header">
                        <div class="card-header-title">
                            <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                            @Localizer["review_pending"]
                        </div>
                    </div>
                    <table style="width: 100%;" id="tbl-fertilizer-certificate-review-list" name="tbl-fertilizer-certificate-review-list" class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="bg-moi-gold" style="text-align:center;"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["company"]</th>
                                <th class="bg-moi-gold" style="text-align:center;"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["status"]</th>
                                <th class="bg-moi-gold" style="text-align:center;"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["action"]</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-header-tab card-header-tab-animation card-header">
                        <div class="card-header-title">
                            <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                            @Localizer["approval_pending"]
                        </div>
                    </div>
                    <table style="width: 100%;" id="tbl-fertilizer-certificate-approval-list" name="tbl-fertilizer-certificate-approval-list" class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="bg-moi-gold" style="text-align:center;"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["company"]</th>
                                <th class="bg-moi-gold" style="text-align:center;"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["status"]</th>
                                <th class="bg-moi-gold" style="text-align:center;"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["action"]</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-header card-success">
                        <div class="d-flex justify-content-between">
                            <i class="fa fa-bar-chart nav-icon"></i>
                            <span class="text-bold text-lg" id="txtlease">Certificate<span class="peie-legend-dashboard">(in Number)</span> </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div id="barchartlocal" style="width:84%;"></div>
                    </div>
                    <div id='barchartlocal_legend' class='text-center'></div>
                </div>

                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script src="~/morris/morris.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
<script src="~/js/fertilizer/dashboard.js"></script>