@using PCVMS.Presentation.Helpers;
@inject ICacheHelper obj;
@{
    ViewData["Title"] = "Project Ranking";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Localizer = await obj.GetAllResource();

}

@model Fertilizer_Model

<div class="main-card mb-3 card" id="Fertilizer_Certificate_Details">
    <div class="card-header-custom  bg-moi-green">
        <i class="header-icon pe-7s-pen icon-gradient bg-royal"> </i>
        @Localizer["project_ranking_detail"]
    </div>

    <div class="form-row bg-moi-gold" id="projectype" style="margin-top: 1%;">
        <div class="col-md-3">
            <div class="position-relative form-group"><label for="Username" class="">@Localizer["priority"]</label></div>
        </div>
        <div class="col-md-3">
            <div class="position-relative form-group"><label for="Username" class="">@Localizer["scale"]</label></div>
        </div>
        <div class="col-md-3">
            <div class="position-relative form-group"><label for="Username" class="">@Localizer["rank"]</label></div>
        </div>
        <div class="col-md-3">
            <div class="position-relative form-group"><label for="Username" class="">@Localizer["save"]</label></div>
        </div>
    </div>
    <div class="form-row" id="projectype" style="margin-top: 1%;">
      
        <div class="col-md-3">
            <div class="position-relative form-group"><label for="Username" class="">@Localizer["project_type"]</label></div>
        </div>
        <div class="col-md-3">

            <div class="position-relative form-group">

                <div class="input-group">
                    <select id="project_type_selection" name="project_type_selection" class="form-control"></select>
                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-note btn-icon-wrapper"> </i></span></div>
                </div>

            </div>
        </div>
        <div class="col-md-3">

            <div class="position-relative form-group">

                <div class="input-group">
                    <select id="project_type_rank_selection" name="project_type_rank_selection" class="form-control"></select>
                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-note btn-icon-wrapper"> </i></span></div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="d-block text-right card-footer">
                <button id="btnprojecttype" name="btnprojecttype" class="btn-icon btn-shadow btn-dashed btn btn-alternate block-page-btn-example-3">
                    <i class="pe-7s-search btn-icon-wrapper"> </i>@Localizer["save"]
                </button>
            </div>
        </div>
    </div>
    <div class="form-row">
       
        <div class="col-md-3">
            <div class="position-relative form-group"><label for="Username" class="">@Localizer["project_type_category"]</label></div>
        </div>
        <div class="col-md-3">

            <div class="position-relative form-group">

                <div class="input-group">
                    <select id="project_type_category_selection" name="project_type_category_selection" class="form-control"></select>
                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-note btn-icon-wrapper"> </i></span></div>
                </div>

            </div>
        </div>
        <div class="col-md-3">

            <div class="position-relative form-group">

                <div class="input-group">
                    <select id="project_type_category_rank_selection" name="project_type_category_rank_selection" class="form-control"></select>
                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-note btn-icon-wrapper"> </i></span></div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="d-block text-right card-footer">
                <button id="btnSaveFertilizerCertificate" name="btnSaveFertilizerCertificate" class="btn-icon btn-shadow btn-dashed btn btn-alternate block-page-btn-example-3">
                    <i class="pe-7s-search btn-icon-wrapper"> </i>@Localizer["save"]
                </button>
            </div>
        </div>
    </div>

    <div class="form-row">
       
        <div class="col-md-3">
            <div class="position-relative form-group"><label for="Username" class="">@Localizer["population_affected"]</label></div>
        </div>
        <div class="col-md-3">

            <div class="position-relative form-group">

                <div class="input-group">
                    <select id="population_selection" name="population_selection" class="form-control"></select>
                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-note btn-icon-wrapper"> </i></span></div>
                </div>

            </div>
        </div>
        <div class="col-md-3">

            <div class="position-relative form-group">

                <div class="input-group">
                    <select id="population_rank_selection" name="population_rank_selection" class="form-control"></select>
                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-note btn-icon-wrapper"> </i></span></div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="d-block text-right card-footer">
                <button id="btnSaveFertilizerCertificate" name="btnSaveFertilizerCertificate" class="btn-icon btn-shadow btn-dashed btn btn-alternate block-page-btn-example-3">
                    <i class="pe-7s-search btn-icon-wrapper"> </i>@Localizer["save"]
                </button>
            </div>
        </div>
    </div>
    <div class="form-row">
        
        <div class="col-md-3">
            <div class="position-relative form-group"><label for="Username" class="">@Localizer["project_budget"]</label></div>
        </div>
        <div class="col-md-3">

            <div class="position-relative form-group">

                <div class="input-group">
                    <select id="budget_selection" name="budget_selection" class="form-control"></select>
                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-note btn-icon-wrapper"> </i></span></div>
                </div>

            </div>
        </div>
        <div class="col-md-3">

            <div class="position-relative form-group">

                <div class="input-group">
                    <select id="budget_rank_selection" name="budget_rank_selection" class="form-control"></select>
                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-note btn-icon-wrapper"> </i></span></div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="d-block text-right card-footer">
                <button id="btnSaveFertilizerCertificate" name="btnSaveFertilizerCertificate" class="btn-icon btn-shadow btn-dashed btn btn-alternate block-page-btn-example-3">
                    <i class="pe-7s-search btn-icon-wrapper"> </i>@Localizer["save"]
                </button>
            </div>
        </div>
    </div>
    <div class="form-row">
        
        <div class="col-md-3">
            <div class="position-relative form-group"><label for="Username" class="">@Localizer["project_mandate"]</label></div>
        </div>
        <div class="col-md-3">

            <div class="position-relative form-group">

                <div class="input-group">
                    <select id="mandate_selection" name="mandate_selection" class="form-control"></select>
                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-note btn-icon-wrapper"> </i></span></div>
                </div>

            </div>
        </div>
        <div class="col-md-3">

            <div class="position-relative form-group">

                <div class="input-group">
                    <select id="mandate_rank_selection" name="mandate_rank_selection" class="form-control"></select>
                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-note btn-icon-wrapper"> </i></span></div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="d-block text-right card-footer">
                <button id="btnSaveFertilizerCertificate" name="btnSaveFertilizerCertificate" class="btn-icon btn-shadow btn-dashed btn btn-alternate block-page-btn-example-3">
                    <i class="pe-7s-search btn-icon-wrapper"> </i>@Localizer["save"]
                </button>
            </div>
        </div>
    </div>
    <div class="form-row">
       
        <div class="col-md-3">
            <div class="position-relative form-group"><label for="Username" class="">@Localizer["importance_of_doing"]</label></div>
        </div>
        <div class="col-md-3">

            <div class="position-relative form-group">

                <div class="input-group">
                    <select id="benefit_selection" name="benefit_selection" class="form-control"></select>
                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-note btn-icon-wrapper"> </i></span></div>
                </div>

            </div>
        </div>
        <div class="col-md-3">

            <div class="position-relative form-group">

                <div class="input-group">
                    <select id="benefit_rank_selection" name="benefit_rank_selection" class="form-control"></select>
                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-note btn-icon-wrapper"> </i></span></div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="d-block text-right card-footer">
                <button id="btnSaveFertilizerCertificate" name="btnSaveFertilizerCertificate" class="btn-icon btn-shadow btn-dashed btn btn-alternate block-page-btn-example-3">
                    <i class="pe-7s-search btn-icon-wrapper"> </i>@Localizer["save"]
                </button>
            </div>
        </div>
    </div>
    <div class="form-row">
       
        <div class="col-md-3">
            <div class="position-relative form-group"><label for="Username" class="">@Localizer["risk_of_not_doing"]</label></div>
        </div>
        <div class="col-md-3">

            <div class="position-relative form-group">

                <div class="input-group">
                    <select id="risk_selection" name="risk_selection" class="form-control"></select>
                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-note btn-icon-wrapper"> </i></span></div>
                </div>

            </div>
        </div>
        <div class="col-md-3">

            <div class="position-relative form-group">

                <div class="input-group">
                    <select id="risk_rank_selection" name="risk_rank_selection" class="form-control"></select>
                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-note btn-icon-wrapper"> </i></span></div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="d-block text-right card-footer">
                <button id="btnSaveFertilizerCertificate" name="btnSaveFertilizerCertificate" class="btn-icon btn-shadow btn-dashed btn btn-alternate block-page-btn-example-3">
                    <i class="pe-7s-search btn-icon-wrapper"> </i>@Localizer["save"]
                </button>
            </div>
        </div>
    </div>
    <div class="form-row">
       
        <div class="col-md-3">
            <div class="position-relative form-group"><label for="Username" class="">@Localizer["project_funding"]</label></div>
        </div>
        <div class="col-md-3">

            <div class="position-relative form-group">

                <div class="input-group">
                    <select id="funding_selection" name="funding_selection" class="form-control"></select>
                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-note btn-icon-wrapper"> </i></span></div>
                </div>

            </div>
        </div>
        <div class="col-md-3">

            <div class="position-relative form-group">

                <div class="input-group">
                    <select id="funding_rank_selection" name="funding_rank_selection" class="form-control">
                      </select>
                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-note btn-icon-wrapper"> </i></span></div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="d-block text-right card-footer">
                <button id="btnSaveFertilizerCertificate" name="btnSaveFertilizerCertificate" class="btn-icon btn-shadow btn-dashed btn btn-alternate block-page-btn-example-3">
                    <i class="pe-7s-search btn-icon-wrapper"> </i>@Localizer["save"]
                </button>
            </div>
        </div>
    </div>
   

</div>
<script src="~/js/pms/ranking.js"></script>

