@using PCVMS.Presentation.Helpers;
@inject ICacheHelper obj;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Localizer = await obj.GetAllResource();

}

@model PCVMS.Model.Web.PCVMS_Project_Model

    <div class="main-card mb-3 card">
        <div class="card-header-custom  bg-moi-green">
            <i class="header-icon pe-7s-pen icon-gradient bg-white"> </i>
            @Localizer["search criteria"] @Localizer["heading special case registration"]
        </div>

        <div class="card-body">
            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="RoyalDecree">
                            @Localizer["project name"]

                        </label>
                        <div class="input-group">
                            <select id="ealist" class="form-control">
                                <option>@Localizer["batna road"]</option>
                                <option>@Localizer["batna road"]</option>
                                <option>@Localizer["rasal jinz tortile resort"]</option>
                                <option>@Localizer["rasal jinz tortile resort"]</option>
                            </select>
                            <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-bookmarks btn-icon-wrapper"> </i></span></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="ProjectName">@Localizer["special case property registration"]</label>
                        <div class="widget-content-left">
                            <select id="ealist" class="form-control">
                                <option selected>@Localizer["select property name"]</option>
                                <option>@Localizer["barka farm house"]</option>
                                <option>@Localizer["barka farm house"]</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="exampleEmail2" id="lbl_stage3_name">@Localizer["governorates"]</label>
                        <div class="input-group">
                            @*@Html.DropDownListFor(model => model.GovernetId, Model.GovernoratesList, "Select Governorate", new { @class = "form-control" })*@
                            <select class="form-control"><option selected>Muscat</option><option>Dhofar</option></select>
                            <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-way btn-icon-wrapper"> </i></span></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="d-block text-right card-footer">

            <button id="btnClear" name="btnClear" class="btn-icon btn-shadow btn-dashed btn btn-moi-gold"><i class="pe-7s-trash btn-icon-wrapper"> </i>@Localizer["clear"]</button>
            <button id="SearchTransaction" name="SearchTransaction" class="btn-icon btn-shadow btn-dashed btn btn-alternate block-page-btn-example-3">
                <i class="pe-7s-search btn-icon-wrapper"> </i>@Localizer["search"]
            </button>
        </div>
        <div class="card-header-custom  bg-moi-green">
            <i class="header-icon pe-7s-pen icon-gradient bg-white"> </i>
           @Localizer["pending approval for special case registration"]
        </div>
        <table id="example2" style="width: 100%;" id="tbl-resource-history" name="tbl-resource-history" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>

                    <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["project name"]</th>
                    <th class="bg-moi-gold" style="text-align:center;"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["property name"]</th>

                    <th class="bg-moi-gold" style="text-align:center;"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["governorates"]</th>
                    <th class="bg-moi-gold" style="text-align:center;"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["action"]</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td class="text-center">al batinah coastal road</td>
                    <td class="text-center">Barka Farm House</td>

                    <td class="text-center">Muscat</td>
                    <td class="text-center" id='tdAction' name='tdAction'><div class='position-relative'><i class="metismenu-icon lnr-book" style="cursor: pointer;margin-left: 10px;" title="view"></i></div></td>
                </tr>
                <tr>

                    <td class="text-center">salalah road</td>
                    <td class="text-center">Barka Farm House</td>

                    <td class="text-center">Dhofar</td>
                    <td class="text-center" id='tdAction' name='tdAction'><div class='position-relative'><i class="metismenu-icon lnr-book" style="cursor: pointer;margin-left: 10px;" title="view"></i></div></td>
                </tr>
                <tr>

                    <td class="text-center">al batinah coastal road</td>
                    <td class="text-center">Moving Special Refrigrator</td>

                    <td class="text-center">Muscat</td>
                    <td class="text-center" id='tdAction' name='tdAction'><div class='position-relative'><i class="metismenu-icon lnr-book" style="cursor: pointer;margin-left: 10px;" title="view"></i></div></td>
                </tr>
                <tr>

                    <td class="text-center">salalah road</td>
                    <td class="text-center">Building No 206</td>

                    <td class="text-center">Dhofar</td>
                    <td class="text-center" id='tdAction' name='tdAction'><div class='position-relative'><i class="metismenu-icon lnr-book" style="cursor: pointer;margin-left: 10px;" title="view"></i></div></td>
                </tr>
            </tbody>
        </table>

    </div>
<div class="main-card mb-3 card">
      

        <div class="main-card mb-3 card">
            

            <div class="card-body">
                <div class="card-header-custom  bg-moi-green">
                    <i class="header-icon pe-7s-pen icon-gradient bg-white"> </i>
                    @Localizer["attached quotation for special case registration"]
                </div>
                <table style="width: 100%;" id="tbl-ProjectDocument" name="tbl-ProjectDocument" class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-id btn-icon-wrapper"> </i> @Localizer["s.no"]</th>
                            <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-album btn-icon-wrapper"> </i> @Localizer["quotation name"]</th>
                            <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-album btn-icon-wrapper"> </i> @Localizer["document type"]</th>
                            <th class="bg-moi-gold" style="text-align:center"><i class="pe-7s-magic-wand btn-icon-wrapper"> </i> @Localizer["action"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center text-muted">11</td>
                            <td class="text-center">Special case quotation 1</td>
                            <td class="text-center">Special case quotation 1</td>
                            <td class="text-center" id='tdAction' name='tdAction'><div class='position-relative'><i class="metismenu-icon lnr-book" style="cursor: pointer;margin-left: 10px;" title="view"></i></div></td>

                        </tr>
                        <tr>
                            <td class="text-center text-muted">12</td>
                            <td class="text-center">Special case quotation 2</td>
                            <td class="text-center">Special case quotation 2</td>
                            <td class="text-center" id='tdAction' name='tdAction'><div class='position-relative'><i class="metismenu-icon lnr-book" style="cursor: pointer;margin-left: 10px;" title="view"></i></div></td>

                        </tr>
                        <tr>
                            <td class="text-center text-muted">13</td>
                            <td class="text-center">Special case quotation 3</td>
                            <td class="text-center">Special case quotation 3</td>
                            <td class="text-center" id='tdAction' name='tdAction'><div class='position-relative'><i class="metismenu-icon lnr-book" style="cursor: pointer;margin-left: 10px;" title="view"></i></div></td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-body">
                <div class="card-header-custom  bg-moi-green">
                    <i class="header-icon pe-7s-pen icon-gradient bg-white"> </i>
                    @Localizer["approval for special case registration"]
                </div>

                <div class="no-results">

                    <div class="swal2-icon swal2-success swal2-animate-success-icon">
                        <i class="metismenu-icon lnr-hourglass" style="cursor: pointer;font-size:2.5rem;line-height: 1.75;" title="wait for approval"></i>
                    </div>
                </div>
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label for="RoyalDecree">
                                    @Localizer["select any one of the quotation"]

                                </label>
                                <div class="input-group">
                                    <select id="ealist" class="form-control">
                                        <option selected>@Localizer["select quotation"]</option>
                                        <option>@Localizer["special case quotation"] 1</option>
                                        <option>@Localizer["special case quotation"] 2</option>
                                        <option>@Localizer["special case quotation"] 3</option>
                                    </select>
                                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-bookmarks btn-icon-wrapper"> </i></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="position-relative form-group">
                                <label for="RoyalDecree">
                                    @Localizer["remark"]

                                </label>
                                <div class="input-group">
                                    <input name="PrpertyCardId" id="PrpertyCardId" type="text" class="form-control">
                                    <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-notebook btn-icon-wrapper"> </i></span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                  

                   
                    <div class="mt-3 mb-3"></div>
                    <div class="text-center">
                        <button class="btn-shadow btn-wide btn btn-moi-green btn-lg">@Localizer["approve and forwarded to inventory section"]</button>
                    </div>
              
            </div>

        </div>
  

</div>
<script src="~/AppJs/Project.js"></script>
